<html>

<head>
<%= stylesheet_link_tag "bonprofitwelcome" %>
</head>

<body>
	
	<img src="http://uploadpie.com/WjGLd" alt="logo bon profit"; height='245'; width='245' class='img'; />	
	
	<h1> bon profit </h1>

	<h2> Una aplicación que te permite guardar <br />
	y organizar tus recetas favoritas.</h2> 

	<h3><%= link_to "libro de recetas", receta_path %></h3>

</body>

</html>