<html>

<head>
      <%= stylesheet_link_tag "bonprofitwelcome" %>
</head>

<body onload="init()">
	<div class= "logotipo">
            <%= link_to (image_tag ("/system/receta/fotos/logotipo.svg")), welcome_index_path %>
      </div>

	<h1> bon profit </h1>

	<h2> Una aplicación que te permite guardar <br />
	y organizar tus recetas favoritas.</h2> 
      
      <h3><%= link_to 'recetas', receta_path %></h3>

</body>

</html>