/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .headerbox {
	width : 1120px;
    height : 65px;
    background : #FCF8CD;
    margin : 0 auto;
    border : 1px solid #B8D8D7;
    margin-top : 2%;
    margin-bottom: 3%;
    }

.box {
	width : 1000px;
    height : 530px;
    background : #FCF8CD;
    margin : 0 auto;
    border : 60px solid #FCF8CD;
    margin-top : 7%;
    padding-top : -25px;
	}

.imagen {
	float: left;
	width:90px;
	max-height: 90px;
	padding:10px;
	border:1px solid #FCF8CD;
	margin:0px;
	}

.titulo {
	float: right;
	color:#653614;
	font-family: 'Cookie';
	font-weight: normal;
	text-align: left;
	font-size: 40pt;
	text-decoration: none;
	width: 840px;
	padding:5px 10px 0px 5px;
	border:0px;
	margin:0px;
	}

.descripcion {
	font-family: 'Droid Sans';
	text-align: left;
	height: 40px;
	color: #653614;
	float: right;
	width: 840px;
	padding:15px 10px 0px 10px;
	border:0px 5px 5px 0px solid #FCF8CD;
	margin:0px;
	}

.sesion {
	font-family: 'Droid Sans';
	text-align: left;
	height: 40px;
	color: #653614;
	float: right;
	width: 840px;
	padding:15px 10px 0px 10px;
	border:0px 5px 5px 0px solid #FCF8CD;
	margin:0px;
	}

.logo {
	height: 50%;
	float: left;
	padding:8px 6px 6px 15px;
	border:0px solid gray;
	margin:0px;
	
}


.cerrarsesion {
	float: right;
	border:1px solid #FCF8CD;
	width: 30px;
		}
