<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un vínculo para cambiar tu contraseña, puedes hacerlo en el siguiente vínculo:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no solicitaste cambiar tu contraseña, ignora este mensaje.</p>
<p>Tu contraseña no cambiará si ignoras el link anterior. </p>
