<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido un excesivo número de intentos fallidos de inicio de sesión.</p>

<p>Ingresa al siguiente link para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
